<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <div th:replace="fragments/menu :: menu"></div>
        <div class="container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pessoa : ${pessoas}">
                        <td  th:text="${pessoa.id}"></td>
                        <td  th:text="${pessoa.nome}"></td>
                        <td  th:text="${pessoa.cpf}"></td>
                        <td>
                            <a th:href="@{/edit?id={id}(id=${pessoa.id})}" class="btn btn-primary">Editar</a>
                            <a th:href="@{/delete/{id}(id=${pessoa.id})}" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
